

* {
    color: #000000;
    --charcoal-blue: #2F4550;
    --blue-slate: #586F7C;
    --light-blue: #B8DBD9;
    --ghost-white: #F4F4F9;
    font-family: "Arvo";
}

body {
    background-color: var(--light-blue);
    background-image: url('./assets/pattern.png');
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 0px;
    padding-bottom: 0px;

}

header {
   padding-top: 16px;
   padding-bottom: 16px;
   margin-bottom: 5px; 
   font-family: "Arvo";
   color: var(--charcoal-blue);
   font-size: 32px;
   font-weight: 700;
}
header::first-letter {
    font-size: 40px;
}

.title {
  color: var(--charcoal-blue);
  font-family: "Arvo";
  size: 100px;
  font-weight: 400;
  font-style: italic;
}

p {
    text-align: center;
}

h2 {
  color: var(--charcoal-blue);
  font-size: 40px;
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 32px;
  text-transform: uppercase;
  text-shadow: -2px 3px 0px var(--ghost-white);
}

h3 {
  text-align: center;
  color: var(--slate-blue);
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.cards div {
    background-color: var(--blue-slate);
    opacity: .7;
    padding: 16px;
    border: 2px solid var(--charcoal-blue);
    border-radius: 16px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;
}

.cards div:hover {
    background-color: var(--ghost-white);
    box-shadow: -8px 8px var(--blue-slate);
    transition: all 1s;
}

.history > ul {
    font-size: 24px;
    background-color: var(--blue-slate);
    opacity: .7;
    padding: 5px;
    border-radius: 16px;
    width: 70%;
}

.history > ul li::marker {
    content: "> ";
}

.year {
    color: var(--ghost-white);
}

